@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Магазинчик</title>
</head>
<body>
    <div>
        <h3>Проверка</h3>
        <table>
            @foreach (var p in ViewBag.Productions)
            {
                <tr>
                    <td><p>@p.Name</p></td>
                    <td><p>@p.ProductNumber</p></td>
                    <td><p>@p.ListPrice</p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>